@font-face {
  font-family: SystemFont;
  src: url("fonts/冬青黑体W3.otf") format("opentype");
}

body{
  font-family: SystemFont;
  font-size: 18px;
  margin: 0px;
  overflow: hidden;
  background: #eeeeee;
  position: relative;
}

/*修正disable*/
nav li[enable=true]:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.card-image {
  float: left;
  width: 22%;
  height: 200px;
  position: relative;
}
.card .card-image{
  text-align : center;
}
.card .card-image img {
  max-width: 100%;
  max-height: 100%;
  width:  auto;
  vertical-align : middle;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.right-content {
  position: relative;
  width: 78%;
  padding: 0% 2%;
  float: left;
}
.card-title {
  font-size: 1.5rem !important;
  width : 100%;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-action{
  padding: 10px 20px 10px 20px;
}

.comment-user,.comment-user>span{
 color: #27ae60;
 padding:2px;
}
.comment-msg{
  padding: 1px 5px;
}
.comment-log{
  text-align: right;
  font-size: 0.6em;
}

.btn-beat{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 7px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
  -webkit-appearance: push-button;
  -webkit-user-select: none;
  white-space: pre;
}
.btn-beat:hover{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}


.gb_fa{
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -moz-linear-gradient(top,#4387fd,#4683ea);
  background: linear-gradient(top,#4387fd,#4683ea);
  color : white;
}

.gb_fa:hover {
    background: #4285f4;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    color : white;
}

.gb_fa:active {
    -moz-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
    background: -moz-linear-gradient(top,#3c7ae4,#3f76d3);
}

select{
  padding : 4px;
  vertical-align: center;
}